/* reset */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* palette */
:root {
    --color-dark-color: #141922;
    --color-dark-grey: #282828;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-grey: #717171;
    --color-light-grey: #C1C1C1;
    --color-highlight: #ADFF2F;
}

/* UTILITIES */

/* background */
.bg-darker {
    background-color: var(--color-black);
}

.bg-main {
    background-color: var(--color-dark-color);
}

.bg-dark {
    background-color: var(--color-dark-grey);
}

.bg-grey {
    background-color: var(--color-grey);
}

.bg-high {
    background-color: var(--color-highlight);
}

.bg-lightgrey {
    background-color: var(--color-light-grey);
}

/* text */
body {
    font-family: 'Montserrat', sans-serif;
    color: white;
}

h2 {
    font-size: 1.8em;
}

.txt-grey {
    color: var(--color-light-grey);
}

.txt-light {
    color: var(--color-white);
}

.txt-center {
    text-align: center;
}

.fs-little {
    font-size: 0.85em;
}

.fs-root {
    font-size: 1rem;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.maiusc {
    text-transform: uppercase;
}

.v-middle {
    vertical-align: middle;
}

ul,
a {
    text-decoration: none;
    list-style: none;
}

/* spacing */
.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}

.px-20 {
    padding-left: 20px;
    padding-right: 20px;
}

.py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.py-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

#main-content li {
    padding: 10px 15px;
}

/* flex-utility */
.d-flex {
    display: flex;
}

.col-flex {
    flex-direction: column;
}

.j-center {
    justify-content: center;
}

.j-between {
    justify-content: space-between;
}

.a-center {
    align-items: center;
    align-content: center;
}

/* CONTAINERS */
.wrapper {
    width: 100%;
    height: 100vh;
}

main {
    width: 100%;
    height: calc(100% - 90px);
}

#side-bar {
    width: 250px;
    overflow: hidden;
}

#main-content {
    width: calc(100% - 250px);
    overflow-y: auto;
    padding: 90px 10px 0 10px;
}

#call {
    width: calc(100% - 250px);
    height: 70px;
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

#play-bar {
    width: 100%;
    height: 90px;
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    justify-content: space-between;
}

.fluid {
    width: 100%;
    display: block;
}

/* general hover */
a:hover,
#side-bar span:hover {
    color: var(--color-white);
}

/* CALL TO ACTION */
.btn {
    border: 1px solid var(--color-white);
    padding: 10px 50px;
    position: absolute;
    right: 30px;
    top: 15px;
    border-radius: 30px;
    transition: all 0.5s ease-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.1);
    background: var(--btn-strange, linear-gradient(90deg, rgba(72, 203, 69, 0.70) 0%, rgba(217, 234, 27, 0.87) 54.53%, rgba(32, 202, 29, 0.70) 100%));
    color: var(--color-black);
}

/* MAIN CONTENT */
#main-content .col {
    width: calc(100% / 6);
    cursor: pointer;
}

.card-img {
    position: relative;
}

.wt {
    height: calc(100% - 90px);
    overflow: hidden;
}

.wb {
    height: 90px;
    background-color: var(--color-black);

}

.ppl ul {
    height: 200px;
    overflow-y: auto;
}

/* overlay hover */
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.col:hover .overlay {
    opacity: 1;
}

.overlay .fa-regular.fa-circle-play {
    font-size: 50px;
    transition: all 1s ease-in-out;
}

.fa-regular.fa-circle-play:hover {
    color: var(--color-highlight);
    transform: scale(1.5);
}

/* circle */
.circle {
    border-radius: 50%;
    overflow: hidden;
}

.circle img {
    height: 100%;
    object-fit: cover;
}

/* h3 hover */
h3 {
    font-size: 1.3em;
}

#main-content h3:hover {
    animation: up-down 1.1s cubic-bezier(0.34, 0.6, 1, 0.26) infinite;
}

@keyframes up-down {
    0% {
        transform: translateY(0);

    }

    25% {
        transform: translateY(1px);
        color: var(--color-highlight);
    }

    50% {
        transform: translateY(0);
        color: var(--color-highlight);
    }

    75% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(0);
    }
}

/* underline */
.underline {
    width: 30px;
    height: 2px;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.discover li:hover .underline {
    opacity: 1;
    width: 60px;
}

/* SIDE BAR */
#logo {
    width: 190px;
}

#small-logo {
    display: none;
}

.explore {
    position: relative;
}

.v-line {
    height: 30px;
    width: 2px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 1;
}

.icon {
    width: 30px;
}

.fa-sharp.fa-solid.fa-square-plus {
    font-size: 2.8em;
}

.user {
    border-top: 1px solid var(--color-white);
}

.profile {
    width: 30px;
    height: 30px;
}

/* PLAY BAR */
.song-img {
    width: 60px;
}

#play-bar .fa-regular.fa-circle-play {
    font-size: 2em;
}

.middle {
    width: 40%;
}

.pb {
    width: 70%;
    height: 5px;
    border-radius: 6px;
}

.vb {
    width: 150px;
    height: 5px;
    border-radius: 6px;
}

.hv {
    width: 30%;
    height: 5px;
    border-radius: 6px;

}

.round {
    width: 13px;
    height: 13px;
    border-radius: 50%;
    display: none;
}

/* playbar hover */
#play-bar .left i:hover {
    color: var(--color-white);
    transform: scale(1.2);
}

#play-bar .fa-solid.fa-rotate-right:hover {
    animation: rep 2s ease-in-out alternate infinite;
    transform: rotate(0deg);
}

@keyframes rep {
    0% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(300deg);
    }
}

.pb:hover .hv,
.vb:hover .hv {
    background-color: var(--color-highlight);
}

.pb:hover .round,
.vb:hover .round {
    display: inline-block;
    transform: translatex(-50%);
}

/* MEDIA QUERY */
@media screen and (max-width:1200px) {
    .wrap {
        flex-wrap: wrap;
    }

    #main-content .col {
        width: calc(100% / 4);
    }
}

@media screen and (max-width:992px) {
    #main-content .col {
        width: 50%;
    }

    #play-bar .right {
        display: none;
    }

    #play-bar {
        justify-content: space-around;
    }

    .middle {
        width: 60%;
    }
}

@media screen and (max-width:768px) {
    #main-content .col {
        width: 50%;
    }

    #play-bar .left {
        display: none;
    }
}

@media screen and (max-width: 576px) {

    .ppl,
    #logo {
        display: none;
    }

    #small-logo {
        display: block;
        width: 40px;
    }

    #side-bar span {
        display: none;
    }

    #side-bar {
        width: 60px;
        align-items: center;
    }

    #side-bar .download {
        justify-content: center;
    }

    #side-bar .px-20 {
        padding-left: 5px;
        padding-right: 5px;
    }

    #call,
    #main-content {
        width: calc(100% - 60px);
    }

    #side-bar .v-line {
        display: none;
    }
}

@media screen and (max-width:375px) {
    #main-content .col {
        width: 100%;
    }

    #play-bar .middle {
        width: 100%;
    }

}


/* DAILY MIX PAGE */
#daily #main-content {
    background: var(--bg-radiant, linear-gradient(180deg, rgba(128, 196, 196, 0.78) 0%, rgba(79, 0, 248, 0.71) 98.96%));
    padding-left: 0;
    padding-right: 0;
}

#daily h1 {
    font-size: 4em;
}

#daily #main-content ul li {
    padding: 0 10px;
}

#daily .actions i {
    font-size: 3.8em;
    cursor: pointer;
}

#daily .table .col {
    width: calc(100% / 4);
}

#daily header {
    border-bottom: 1px solid var(--color-grey);
}

.f-end {
    justify-content: flex-end;
}

#daily .sx .col {
    width: calc(100% / 2);
}

#daily .sx {
    width: 50%;
}

#daily .dx {
    width: 50%;
}

#daily i-amp-video-eq {
    display: none;
}

#daily .row:hover {
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 5px;
}

#daily .row:hover .number {
    display: none;
}

#daily .row:hover i-amp-video-eq {
    display: flex;
    color: var(--color-highlight);
}

#daily .table span:hover {
    text-decoration: underline;
}

#daily .actions i:hover {
    animation: bounce 1s ease-in-out infinite;
}

@keyframes bounce {
    0% {
        transform: scale(1);
        color: var(--color-white);
    }

    50% {
        transform: scale(1.2);
        color: var(--color-highlight);
    }

    100% {
        transform: scale(1);
        color: var(--color-white)
    }
}


i-amp-video-eq {
    align-items: flex-end;
    width: 20px;
    height: 12px;
    overflow: hidden;
    opacity: 0.8;
}

i-amp-video-eq .-amp-video-eq-col {
    flex: 1;
    position: relative;
    height: 100%;
    margin-right: 1px;
}

i-amp-video-eq .-amp-video-eq-col div {
    animation-name: amp-video-eq-animation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background-color: #FAFAFA;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    will-change: transform;
}

.-amp-video-eq-1-1 {
    animation-duration: 0.3s;
}

.-amp-video-eq-1-2 {
    animation-duration: 0.45s;
}

.-amp-video-eq-2-1 {
    animation-duration: 0.5s;
}

.-amp-video-eq-2-2 {
    animation-duration: 0.4s;
}

.-amp-video-eq-3-1 {
    animation-duration: 0.3s;
}

.-amp-video-eq-3-2 {
    animation-duration: 0.35s;
}

.-amp-video-eq-4-1 {
    animation-duration: 0.4s;
}

.-amp-video-eq-4-2 {
    animation-duration: 0.25s;
}

@keyframes amp-video-eq-animation {
    0% {
        transform: translateY(100%);
    }
    50%{
        background-color: var(--color-highlight);
    }

    100% {
        transform: translateY(0);
        background-color: #EC2F3A;
    }
}